.chat
  .header
    .header__list
      .header__title
        = @group.name
      .header__member
        - @group.users.each do |user|
          ="Member:#{user.name}"
    .header-btn
      =link_to 'edit', edit_group_path(@group), class:"header-btn__editbtn"
  .messeage
    = render @messages

  .form
    = form_with model: [@group, @message], html: {class: "tweet-form"}, local: true do |f|
      .tweet-form
        =f.text_field :content, class: 'tweet-form__comment', placeholder: 'type a message'
        = f.label :image, class: 'tweet-form__image-btn' do
          = icon('fas', 'images')
          = f.file_field :image, class: 'Hidden'
      = f.submit 'Send', class: "send-btn"